<div class="container">
  <div class="body-background">
    <div class="login-container">
      <h1>Login</h1>
      <form>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Username"
        /><br />

        <input
          type="password"
          id="password"
          name="password"
          placeholder="password"
        /><br /><br />
        <input type="submit" value="Submit" />
      </form>
      <br />
      <a href="#">Forgot your password?</a>
    </div>
  </div>
</div>
<!-- <div class="container">
  <div class="login-container">
    <h1>Register</h1>
    <form>
      <label for="username">Username:</label><br />
      <input type="text" id="username" name="username" /><br />
      <label for="email">Email:</label><br />
      <input type="email" id="email" name="email" /><br />
      <label for="password">Password:</label><br />
      <input type="password" id="password" name="password" /><br />
      <label for="confirm-password">Confirm Password:</label><br />
      <input
        type="password"
        id="confirm-password"
        name="confirm-password"
      /><br /><br />
      <input type="submit" value="Submit" />
    </form>
    <br />
    <a href="#">Forgot your password?</a>
  </div>
</div> -->
